<div style="width: 1024px; height: 992px; position: relative">
  <div style="width: 1021px; height: 989px; left: 1px; top: 1px; position: absolute; background: white; border: 3px black solid"></div>
  <div style="width: 1019px; height: 56px; left: 2px; top: 10px; position: absolute; background: #F3F3F3; border: 2px black solid"></div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="left: 12px; top: 28px; position: absolute; color: black; font-size: 19px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">Logo</div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="left: 87px; top: 30px; position: absolute; color: black; font-size: 15px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">Company Profile</div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="left: 234px; top: 30px; position: absolute; color: black; font-size: 15px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">Sub Companies</div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="left: 381px; top: 30px; position: absolute; color: black; font-size: 15px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">Download latest report</div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="left: 550px; top: 32px; position: absolute; color: black; font-size: 15px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">Logout</div>
  <div style="width: 295.98px; height: 437.98px; left: 44px; top: 90px; position: absolute; background: white; border: 2px black solid"></div>
  <div style="width: 293.98px; height: 293.98px; left: 45px; top: 91px; position: absolute; background: white; border: 2px black solid"></div>
  <div style="width: 293.98px; height: 293.98px; left: 45px; top: 91px; position: absolute; background: black; border: 2px black solid"></div>
  <div style="width: 293.98px; height: 293.98px; left: 45px; top: 91px; position: absolute; background: black; border: 2px black solid"></div>
  <div style="left: 61px; top: 401.98px; position: absolute; color: black; font-size: 19px; font-family: Inter; font-weight: 700; word-wrap: break-word">Company Name</div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="left: 58px; top: 430px; position: absolute; color: black; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">The current CF of CompanyName is <br/>500Tonnes of CO2</div>
  <div style="width: 615.98px; height: 228px; left: 363.98px; top: 90px; position: absolute; background: white; border: 2px black solid"></div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="left: 387.98px; top: 103px; position: absolute; color: black; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">Sub Companies</div>
  <div style="width: 53.56px; height: 38px; left: 909.41px; top: 99px; position: absolute; background: #E1E1E1; border: 2px black solid"></div>
  <div style="width: 580px; height: 38px; left: 383px; top: 203px; position: absolute; background: #E1E1E1; border: 2px black solid"></div>
  <div style="width: 580px; height: 38px; left: 381px; top: 263px; position: absolute; background: #E1E1E1; border: 2px black solid"></div>
  <div style="left: 921.69px; top: 110px; position: absolute; text-align: center; color: black; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">Add</div>
  <div style="width: 581.98px; height: 0px; left: 380.98px; top: 202.50px; position: absolute; background: black; border: 1px #C3C3C3 solid"></div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="left: 388.98px; top: 174px; position: absolute; color: black; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">Name</div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="left: 575.50px; top: 174px; position: absolute; color: black; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">Description</div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="left: 708.39px; top: 174px; position: absolute; color: black; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">Carbon footprint percentage</div>
  <div style="width: 581.98px; height: 0px; left: 380.98px; top: 243.50px; position: absolute; background: black; border: 1px #C3C3C3 solid"></div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="left: 388.98px; top: 215px; position: absolute; color: black; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">Sub Company A</div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="left: 575.50px; top: 215px; position: absolute; color: black; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">Hotel Mumbai</div>
  <div style="left: 575px; top: 279px; position: absolute; color: black; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">Hotel Banglore</div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="left: 708.39px; top: 215px; position: absolute; color: black; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">60</div>
  <div style="width: 581.98px; height: 0px; left: 381px; top: 305.50px; position: absolute; background: black; border: 1px #C3C3C3 solid"></div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="left: 389px; top: 277px; position: absolute; color: black; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">Sub Company B</div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="left: 708.41px; top: 277px; position: absolute; color: black; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">40</div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="width: 616px; height: 438px; left: 366px; top: 364px; position: absolute; background: white; border: 2px black solid"></div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="left: 390.98px; top: 397px; position: absolute; color: black; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">Make your business more environmentally friendly</div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="width: 581.98px; height: 0px; left: 383.98px; top: 751px; position: absolute; background: black; border: 1px #C3C3C3 solid"></div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="width: 551px; height: 84px; left: 385px; top: 428px; position: absolute; background: #E1E1E1; border: 2px black solid"></div>
  <div style="left: 400px; top: 439px; position: absolute; color: black; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">Revolution in soap Packaging</div>
  <div style="left: 393px; top: 481px; position: absolute; color: black; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">Switching to abc brand would save you xxx tonnes of CO2!</div>
  <div style="width: 551px; height: 84px; left: 385px; top: 542px; position: absolute; background: #E1E1E1; border: 2px black solid"></div>
  <div style="left: 400px; top: 553px; position: absolute; color: black; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">Revolution in soap Packaging</div>
  <div style="left: 393px; top: 595px; position: absolute; color: black; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">Switching to abc brand would save you xxx tonnes of CO2!</div>
  <div style="width: 551px; height: 84px; left: 383px; top: 667px; position: absolute; background: #E1E1E1; border: 2px black solid"></div>
  <div style="left: 398px; top: 678px; position: absolute; color: black; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">Revolution in soap Packaging</div>
  <div style="left: 391px; top: 720px; position: absolute; color: black; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">Switching to abc brand would save you xxx tonnes of CO2!</div>
  <div style="width: 268px; height: 29px; left: 61px; top: 473px; position: absolute; background: #E1E1E1; border: 2px black solid"></div>
  <div style="left: 73px; top: 480px; position: absolute; text-align: center; color: black; font-size: 13px; font-family: Inter; font-weight: 400; word-wrap: break-word">View detailed Carbon Footprint analysis</div>
</div>
Score = {{score}}