<div style="width: 1024px; height: 938px; position: relative">
  <div style="width: 1021px; height: 935px; left: 1px; top: 1px; position: absolute; background: white; border: 3px black solid"></div>
  <div style="width: 1019px; height: 58.41px; left: 2px; top: 2px; position: absolute; background: #F3F3F3; border: 2px black solid"></div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="width: 58.22px; height: 30px; left: 12px; top: 15.41px; position: absolute; background: white; border: 2px black solid"></div>
  <div style="width: 58.22px; height: 30px; left: 12px; top: 15.41px; position: absolute; background: black; border: 2px black solid"></div>
  <div style="width: 58.22px; height: 30px; left: 12px; top: 15.41px; position: absolute; background: black; border: 2px black solid"></div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="left: 843.12px; top: 21.20px; position: absolute; color: black; font-size: 15px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">Home</div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="left: 898.23px; top: 21.20px; position: absolute; color: black; font-size: 15px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">About</div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="left: 954.23px; top: 21.20px; position: absolute; color: black; font-size: 15px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">Contact</div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="left: 284px; top: 52px; position: absolute; color: black; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">Login ID</div>
  <div style="width: 456px; height: 38px; left: 284px; top: 80px; position: absolute; background: white; border: 2px black solid"></div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="left: 284px; top: 138px; position: absolute; color: black; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">Password</div>
  <div style="width: 456px; height: 38px; left: 284px; top: 166px; position: absolute; background: white; border: 2px black solid"></div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="width: 16px; height: 16px; left: 284px; top: 224px; position: absolute; background: white; border: 2px black solid"></div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="left: 308px; top: 224px; position: absolute; color: black; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">Remember Me</div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="left: 284px; top: 264px; position: absolute; color: black; font-size: 15px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">Forgot Password?</div>
  <div style="width: 72.23px; height: 38px; left: 284px; top: 300px; position: absolute; background: #E1E1E1; border: 2px black solid"></div>
  <div style="left: 295.12px; top: 311px; position: absolute; text-align: center; color: black; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">Submit</div>
  <div style="width: 1024px; height: 80px; left: 2px; top: 858px; position: absolute; background: white; border: 2px black solid"></div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="left: 413.91px; top: 862px; position: absolute; color: black; font-size: 15px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">Facebook</div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="left: 488.11px; top: 862px; position: absolute; color: black; font-size: 15px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">Twitter</div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="left: 546.09px; top: 862px; position: absolute; color: black; font-size: 15px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">Instagram</div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="width: 210px; height: 38.80px; left: 382.28px; top: 902px; position: absolute">
    <div style="left: 0px; top: 0px; position: absolute; color: black; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">© 2021 My Website. All rights </div>
    <div style="left: 0px; top: 20.80px; position: absolute; color: black; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">reserved.</div>
  </div>
  <div style="width: 1021px; height: 935px; left: 1px; top: 1px; position: absolute; background: white; border: 3px black solid"></div>
  <div style="width: 72.23px; height: 38px; left: 284px; top: 510px; position: absolute; background: #E1E1E1; border: 2px black solid"></div>
  <div style="left: 295.12px; top: 521px; position: absolute; text-align: center; color: black; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">Submit</div>
  <div style="width: 1019px; height: 58.41px; left: 2px; top: 2px; position: absolute; background: #F3F3F3; border: 2px black solid"></div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="width: 58.22px; height: 30px; left: 12px; top: 15.41px; position: absolute; background: white; border: 2px black solid"></div>
  <div style="width: 58.22px; height: 30px; left: 12px; top: 15.41px; position: absolute; background: black; border: 2px black solid"></div>
  <div style="width: 58.22px; height: 30px; left: 12px; top: 15.41px; position: absolute; background: black; border: 2px black solid"></div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="left: 898.23px; top: 21.20px; position: absolute; color: black; font-size: 15px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">About</div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="left: 954.23px; top: 21.20px; position: absolute; color: black; font-size: 15px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">Contact</div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="width: 1024px; height: 80px; left: 2px; top: 858px; position: absolute; background: white; border: 2px black solid"></div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="left: 413.91px; top: 862px; position: absolute; color: black; font-size: 15px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">Facebook</div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="left: 488.11px; top: 862px; position: absolute; color: black; font-size: 15px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">Twitter</div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="left: 546.09px; top: 862px; position: absolute; color: black; font-size: 15px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">Instagram</div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
  <div style="width: 210px; height: 38.80px; left: 382.28px; top: 902px; position: absolute">
    <div style="left: 0px; top: 0px; position: absolute; color: black; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">© 2021 My Website. All rights </div>
    <div style="left: 0px; top: 20.80px; position: absolute; color: black; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">reserved.</div>
  </div>
  <div style="left: 269px; top: 163px; position: absolute; color: black; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">Login ID</div>
  <div style="width: 456px; height: 38px; left: 269px; top: 191px; position: absolute; background: white; border: 2px black solid"></div>
  <div style="left: 269px; top: 249px; position: absolute; color: black; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">Password</div>
  <div style="width: 456px; height: 38px; left: 269px; top: 277px; position: absolute; background: white; border: 2px black solid"></div>
  <div style="width: 16px; height: 16px; left: 269px; top: 335px; position: absolute; background: white; border: 2px black solid"></div>
  <div style="left: 293px; top: 335px; position: absolute; color: black; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">Remember Me</div>
  <div style="left: 269px; top: 375px; position: absolute; color: black; font-size: 15px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">Forgot Password?</div>
  <div style="left: 269px; top: 417px; position: absolute; color: black; font-size: 15px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">New to Prana? - Checkout Prana for Business HERE</div>
  <div style="left: 260px; top: 100px; position: absolute; text-align: center; color: black; font-size: 26px; font-family: Inter; font-weight: 400; word-wrap: break-word">Company Login</div>
</div>

<a href="/dashboard">My Dashboard</a>